body{
	background: url("http://soul-amp.com/pics/pics_mindedelic_flower_rainbows/flower_collage_mindedelic_flower_rainbows2_smaller__soul-amp.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    color: black;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: #e74009;
    border-color: #fff;
}
.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	opacity: .9;
	padding: 20px;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}





